asyncio
deepspeed>=0.14.0
deepspeed-kernels
fastapi==0.110.1
Flask-RESTful
grpcio
grpcio-tools
Pillow
pydantic
pydantic_settings==2.2.1
safetensors
shortuuid==1.0.13
torch
transformers
ujson
uvicorn==0.29.0
Werkzeug
zmq
